:root {
    --primary-color: #3A86FF;
    --secondary-color: #1E3A8A;
    --background-color: #F5F7FA;
    --card-background: #FFFFFF;
    --border-color: #E0E3EB;
    --error-color: #FF6B6B;
    --text-color: #333;
}

body {
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
}

.card {
    background: var(--card-background);
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.button {
    background: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.button:hover {
    background: var(--secondary-color);
}

.calendar-event {
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: bold;
}

.calendar-event.important {
    background: var(--error-color);
}


.my-custom-button {
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.my-custom-button:hover {
    background-color: #0000ff; /* Azul oscuro */
}

.borde-horizontal {
  border: 2px solid var(--lumo-primary-color);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--lumo-base-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}